.blog-thumbnail {
  margin-bottom: 40px;
  @include desktopSmall {
    width: 48%;
    margin-bottom: 50px;
  }

  a {
    img {
      width: 100%;
      @include desktopSmall {
        width: 30%;
        float: left;
        margin-bottom: 10px;
      }
    }

    h2 {
      margin-top: 2px;
      margin-bottom: 5px;
      font-family: $font-family-title;
      @include desktopSmall {
        float: right;
        width: 67%;
        margin-top: 0;
        margin-bottom: 8px;
        font-size: $font-size-small;
      }
      @include desktopMedium {
        font-size: $font-size-xxlarge;
      }
      @include desktopLarge {
        font-size: $font-size-mega;
      }
    }

    p {
      @include desktopSmall {
        float: right;
        width: 67%;
        font-size: $font-size-small;
        margin: 0;
        line-height: calculateRem(17px);
        @include desktopMedium {
          font-size: $font-size-medium;
          line-height: calculateRem(20px);
        }
      }
      &:after {
        content: "...";
      }
    }
  }

  .date {
    clear: both;
    overflow: hidden;
    @include calender();
  }

  .author {
    @include author();
    margin-top: 6px;
  }
}
