.menu {
  position: fixed;
  top: 0;
  left: 0;
  &__right,
  &__left {
    position: fixed;
    height: 100%;
    top: 90px;
    width: 50%;
    transition: 0.4s $transition;
    @include desktopSmall {
      border: none !important;
      top: 10px;
      position: absolute;
      transform: translateX(0) !important;
      background: transparent !important;
      height: auto;
      &-list {
        margin-left: 0 !important;
        &-item {
          color: white !important;
        }
      }
    }
    &-list {
      margin-top: 7vh;
      margin-left: 3vw;
      &-item {
        display: block;
        margin: 15px 0 15px 0;
        padding: 7px 0 7px 30px;
        font-family: $font-family-title;
      }
    }
  }

  &__right {
    background: $color-navy;
    right: 0;
    transform: translateX(200%);
    border-top: 1px solid $color-light-gray;
    @include desktopSmall {
      right: 10%;
      width: auto !important;
      &-list {
        margin-top: 13px !important;
        .yellow,
        .green {
          border-bottom: 1px solid;
          padding-left: 0;
          margin-left: 20px;
          padding-bottom: 4px;
          padding-left: 0;
        }
        .yellow {
          color: $color-yellow !important;
        }
        .green {
          color: #09a935 !important;
        }
        &-item {
          display: inline !important;
          background: none !important;
        }
        .advert {
          margin-left: 17px;
        }
      }
    }
    &-list {
      .advert {
        width: 120px;
        text-align: center;
        display: inline-block !important;
        font-size: $font-size-small;
      }
      &-item {
        color: $color-light-gray;
        @include backgroundIcon("right-arrow-gray.svg", 15px, 6px 10px);
      }
    }
  }

  &__left {
    background: $color-light-gray;
    left: 0;
    transform: translateX(-100%);
    border-top: 1px solid $color-navy;
    @include desktopSmall {
      width: auto !important;
      left: 25%;
      width: 80% !important;
      &-list {
        margin-top: 24px !important;
        .search {
          display: none !important;
        }
        &-item {
          font-size: $font-size-xlarge;
          margin-left: 2%;
          display: inline !important;
        }
        .buy-car {
          padding-left: 28px;
          background: url("/static/images/icons/buy-car.svg") no-repeat center
            left !important;
          background-size: 25px !important;
        }
        .sell-car {
          padding-left: 22px;
          padding-top: 8px;
          background: url("/static/images/icons/sell-car.svg") no-repeat center
            left !important;
          background-size: 21px !important;
        }
      }
    }
    &-list {
      &-item {
        color: $color-navy;
        @include backgroundIcon("right-arrow-navy.svg", 15px, 6px 10px);
      }
    }
  }
}
