.event-thumbnail {
  margin-bottom: 60px;
  @include hoverGray();

  h2 {
    margin-top: 7px;
    margin-bottom: 0;
    @include desktopSmall {
      margin-top: 18px;
    }
  }

  .intro {
    margin-bottom: 10px;
  }

  img {
    width: 100%;
  }

  &-flex {
    display: flex;
    justify-content: space-between;
    div {
      width: 50%;
    }
    .date {
      @include calender();
      @include desktopSmall {
        margin: 10px 0;
      }
    }
    .time {
      @include clock();
    }
    .joined {
      @include people();
      position: relative;
      &:after {
        content: "Katılım";
        position: absolute;
        bottom: -7px;
        right: 0;
        font-weight: 100;
        font-size: $font-size-medium;
      }
    }
    .location {
      @include location();
    }
  }
}
