// layout
.user-profile {
  &-flex {
    @include desktopSmall {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .user-profile-info {
      @include desktopSmall {
        width: 33%;
        max-width: 400px;
      }
      @include desktopMedium {
        width: 30%;
      }
    }
    .user-profile-console {
      @include desktopSmall {
        width: 62%;
      }
      @include desktopMedium {
        width: 65%;
      }
    }
  }
}

.user-profile {
  padding: 4vh 0;
  @include desktopSmall {
    padding: 11vh 0;
  }
  &-title {
  }
  &-info {
    background: $color-light-gray;
    padding: 20px 2%;
  }

  .red-link {
    display: block;
    background-position: 15px 22px;
    @include desktopSmall {
      background-position: 9% 28px;
      padding-left: 23%;
      padding-right: 0;
    }
  }
}
