/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-close-icon {
  background-image: url(/static/images/sprites/sprite.png);
  background-position: 0px 0px;
  width: 38px;
  height: 38px;
}
.icon-facebook {
  background-image: url(/static/images/sprites/sprite.png);
  background-position: -38px 0px;
  width: 25px;
  height: 25px;
}
.icon-instagram {
  background-image: url(/static/images/sprites/sprite.png);
  background-position: 0px -38px;
  width: 25px;
  height: 25px;
}
.icon-minus-icon {
  background-image: url(/static/images/sprites/sprite.png);
  background-position: -63px 0px;
  width: 23px;
  height: 23px;
}
.icon-plus-icon {
  background-image: url(/static/images/sprites/sprite.png);
  background-position: -63px -23px;
  width: 23px;
  height: 23px;
}
.icon-youtube {
  background-image: url(/static/images/sprites/sprite.png);
  background-position: -25px -38px;
  width: 25px;
  height: 25px;
}
