.event-page {
  padding: 5vh 0 3vh;
  @include desktopSmall {
    padding: 11vh 0 5vh;
    display: flex;
    justify-content: space-between;
  }

  .join-button {
    border: none;
    margin: 0 auto;
    border-bottom: 3px solid white;
    background-position: 10% center;
    @include desktopSmall {
      background-position: 12% center !important;
      width: 100%;
      padding-left: 33px;
      padding-right: 10px;
    }
    @include desktopMedium {
      background-position: 16% center !important;
    }
  }

  &__info {
    @include desktopSmall {
      width: 62%;
    }
    @include desktopMedium {
      width: 65%;
    }
  }

  &__data {
    @include desktopSmall {
      width: 33%;
    }
    @include desktopMedium {
      width: 30%;
    }

    &-social-wrap {
      max-width: 380px;
    }

    &-flex {
      display: flex;
      justify-content: space-between;
      padding: 15px 3%;
      background: #e8e8e8;
      border-bottom: 1px solid white;
      @include desktopSmall {
        padding: 25px 5%;
        max-width: 380px;
      }

      span.date {
        @include calender();
      }
      span.time {
        @include clock();
        padding: 4px 0 4px 29px;
        background-position: 0 center;
      }
      span.duration {
        @include clock();
        padding: 4px 0 4px 29px;
        background-position: 0 center;
      }
      span.joined {
        background: url("/static/images/icons/people.svg") no-repeat 0 center;
        background-size: 26px;
        padding: 4px 0 4px 33px;
      }
      span.city {
        @include location();
        background-size: 26px;
      }
      span.capacity {
        background: url("/static/images/icons/max.svg") no-repeat 0 center;
        background-size: 25px;
        padding: 4px 0 4px 31px;
      }

      span {
        font-weight: 900;
        display: block;
        font-size: $font-size-medium !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
      }

      div {
        font-size: $font-size-medium;
        padding-top: 12px;
        b {
          font-size: $font-size-xxlarge;
          color: $color-red;
        }
      }
    }
  }

  h1 {
    line-height: calculateRem(29px);
    @include desktopSmall {
      margin-top: 0;
      line-height: calculateRem(50px);
    }
  }

  h2 {
    font-size: $font-size-xlarge;
    line-height: $font-size-mega;
    @include desktopSmall {
      font-size: $font-size-xxlarge;
    }
  }

  img {
    width: 100%;
    margin: 10px 0;
  }

  pre {
    line-height: calculateRem(26px);
    font-family: $font-family-body;
    pre {
      margin-bottom: 0;
    }

    a {
      color: $color-red;
      text-decoration: underline;
      font-weight: 900;
    }

    ul {
      padding: 0;
      list-style-position: inside;
      list-style: none;
      li {
        margin-bottom: 8px;
        @include redTick();
      }
    }
  }
}

.event-page-bottom.red-link {
  display: inline-block;
  width: 100% !important;
  background-position: 7% center;
  @include desktopSmall {
    width: auto !important;
  }
}

.swing {
  -webkit-animation: swing 1.7s ease;
  animation: swing 1.7s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
