<html>
<head>
<link rel='stylesheet' href='/static/admin/styles.css'' />
</head>
<body>
 


<!-- MAIN WRAPPER STARTS -->
<div class="container">




  <!-- MAIN TAG WRAPPER START -->
  <div class="tags">


    <!-- H1 TAGS START -->
    <div class="tagWrap">
      <div id="h1one" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1one" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1two" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1two" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1three" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1three" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1four" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1four" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1five" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1five" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1six" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1six" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1seven" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1seven" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1eight" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1eight" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1nine" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1nine" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h1ten" class="await h1" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h1ten" required="required" minlength="2" maxlength="200" />
      </div>
    </div>
    <!-- H1 TAGS END -->




    <!-- H2 TAGS START -->
    <div class="tagWrap">
      <div id="h2one" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2one" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2two" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2two" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2three" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2three" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2four" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2four" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2five" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2five" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2six" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2six" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2seven" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2seven" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2eight" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2eight" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2nine" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2nine" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2ten" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2ten" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2eleven" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2eleven" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2twelve" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2twelve" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2thirteen" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2thirteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2fourteen" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2fourteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h2fifteen" class="await h2" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h2fifteen" required="required" minlength="2" maxlength="200" />
      </div>
    </div>
    <!-- H2 TAGS END -->



    <!-- H3 TAGS START -->
    <div class="tagWrap">
      <div id="h3one" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3one" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3two" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3two" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3three" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3three" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3four" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3four" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3five" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3five" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3six" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3six" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3seven" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3seven" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3eight" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3eight" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3nine" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3nine" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3ten" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3ten" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3eleven" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3eleven" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3twelve" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3twelve" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3thirteen" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3thirteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3fourteen" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3fourteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3fifteen" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3fifteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3sixteen" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3sixteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3seventeen" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3seventeen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3eigthteen" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3eigthteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3nineteen" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3nineteen" required="required" minlength="2" maxlength="200" />
      </div>
      <div id="h3twenty" class="await h3" draggable="true" ondragstart="drag(event)">
        <input class="dynamicInput" type="text" placeholder=" Type here..." name="h3twenty" required="required" minlength="2" maxlength="200" />
      </div>
    </div>
    <!-- H3 TAGS END -->


    <!-- PRE TAGS START -->
    <div class="tagWrap">
      <div id="p1" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p1" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p2" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p2" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p3" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p3" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p4" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p4" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p5" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p5" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p6" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p6" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p7" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p7" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p8" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p8" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p9" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p9" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p10" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p10" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p11" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p11" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p12" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p12" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p13" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p13" required="required" minlength="2" maxlength="10000"></textarea>
      </div> 
      <div id="p14" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p14" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p15" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p15" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p16" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p16" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p17" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p17" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p18" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p18" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p19" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p19" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
      <div id="p20" class="await paragraph" draggable="true" ondragstart="drag(event)">
        <textarea class="dynamicTextarea" placeholder=" Type here..." name="p20" required="required" minlength="2" maxlength="10000"></textarea>
      </div>
    </div>
    <!-- PRE TAG ENDS -->
  
   <!-- IMG TAGS START -->
    <div class="tagWrap">
      <div id="img1" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image1" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle1" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img2" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image2" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt1" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle2" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img3" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image3" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt2" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle3" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img4" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image4" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt3" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle4" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img5" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image5" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt4" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle5" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img6" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image6" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt5" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle6" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img7" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image7" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt6" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle7" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img8" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image8" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt7" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle8" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img9" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image9" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt8" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle9" required="required" minlength="2" maxlength="200"/>
      </div>
      <div id="img10" class="await fileUpload" draggable="true" ondragstart="drag(event)">
        <input class="imgFile" type="file" name="image10" required="required"/>
        <input class="imgInput" type="text" placeholder=" Alt tag" name="imgAlt9" required="required" minlength="2" maxlength="200"/>
        <input class="imgInput" type="text" placeholder=" Title tag" name="imgTitle10" required="required" minlength="2" maxlength="200"/>
      </div>
    </div> 
    <!-- IMG TAGS ENDS -->


    <!-- BUTTON CREATES NEW ROW -->
    <div class="addColumnBtn" onclick="newRow()"> Insert row  </div>
    
  <!-- MAIN TAG WRAPPER ENDS -->
  </div>

  


  <!-- BLOG BUILDING PAGE START --> 
  <div class="content">
    <form id="blogForm" method="post" action="/admin/add-blog" class="box" encType="multipart/form-data">


      <div class="seoWrap">
        <input class="seo" type="text" name="page_title" placeholder=" Page Title" required="required" maxlength="250">
        <input class="seo" type="text" name="page_description" placeholder=" Page Description" required="required" maxlength="400">
        <input class="seo" type="text" name="page_url" placeholder=" Url" required="required" minlength="10" maxlength="250" pattern="[^' ';/:.,]+" title="NO: space or special characters!">
      </div>
      <div class="seoWrap">
        <input class="seo" type="text" name="author" placeholder=" Author name" required="required" maxlength="250">
      </div>



      <!-- TAG GENERATORS -->
      <!-- popup link input -->
      <div id="hiddenAnchor">
        <input type="text" id="anchor" placeholder=" Url">
        <span id="linkGiven">Add this link</span>
      </div>
      <div class="textareaEditWrap">
        <span id="bold">BOLD</span>
        <span id="italic">ITALIC</span>
        <span id="link">LINK</span>
        <span id="list">LIST</span>
      </div>


      <!-- visible rows, ready to use -->
      <div class="sections">
        <!-- thumbnail image compulsory-->
        <h6>THUMBNAIL IMAGE</h6>
        <div id="img11" class="await fileUpload">
          <input class="imgFile" type="file" name="image11" required="required"/>
          <input class="imgInput hideTheseInputs" type="text" placeholder=" Alt tag" name="imgAlt11" required="required" minlength="2" maxlength="200" value="placeholding"/>
          <input class="imgInput hideTheseInputs" type="text" placeholder=" Title tag" name="imgTitle11" required="required" minlength="2" maxlength="200" value="placeholding"/>
          <input class="imgInput hideTheseInputs" type="text" placeholder=" Link to" name="imgLink11" minlength="1" maxlength="700" value="placeholding"/>
        </div>
      </div>

      <!--h1 and h2 tagsfor the top of the blog -->
      <div class="sections">
        <div class="await h1">
          <input class="dynamicInput" type="text" placeholder=" (H1 TAG) TOP OF THE PAGE" name="titleOne" required="required" minlength="2" maxlength="300" />
        </div>
      </div>
      <div class="sections">
        <div class="await h2">
          <input class="dynamicInput" type="text" placeholder=" (H2 TAG) TOP OF THE PAGE" name="titleTwo" required="required" minlength="2" maxlength="300" />
        </div>
      </div>


      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <!-- hidden rows, user insert them -->
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div class="sections rows hidden" ondrop="drop(event)" ondragover="allowDrop(event)"></div>



      <input id="hidden_layout_input" type="hidden" name="layout_order">
      <div class="btnWrap">
        <button id="publishBtn" type="submit"> PUBLISH </button>
      </div>
    </form>
  </div>
  <!-- BLOG BUILDING PAGE END -->


  

  <!-- RECYCLE BIN -->
  <div class="bin" ondrop="drop(event)" ondragover="allowDrop(event)"></div>








<!-- MAIN WRAPPER ENDS   -->
</div>


<script type="text/javascript" src="/static/admin/utils.js"></script>
<script type="text/javascript" src="/static/admin/scripts.js"></script>

<a href="/admin/console" class="homelink"></a>

</body>
</html>