.authors {
  padding: 5vh 0;
  &__author {
    &-name {
      @include author();
      margin-bottom: 6px;
      margin-top: 35px;
    }
    &-blog {
      display: block;
      padding: 5px 0;
      margin-bottom: 4px;
      &:hover {
        text-decoration: underline;
        color: $color-red;
      }
    }
  }
}
