.sell-your-car {
  margin: 40px 0;
  @include limitWidthDektop();
  @include limitWidthMobile();
  @include desktopSmall {
    display: flex;
    justify-content: space-between;
    border: 5px solid #dbf6d4;
    height: auto;
    border-radius: 5px;
  }
  &__left {
    @include desktopSmall {
      width: 50%;
    }
    h2 {
      margin-top: 0;
      padding-top: 40px;
      text-align: center;
      @include desktopSmall {
        margin-left: 10%;
        text-align: left;
      }
    }
    p {
      text-align: center;
      @include desktopSmall {
        margin-left: 10%;
        text-align: left;
      }
    }
  }

  &__right {
    display: none;
    @include desktopSmall {
      width: 50%;
      display: block;
      background: url("/static/images/sell-your-car-background.svg") no-repeat
        right center;
      background-size: 100%;
      img {
        width: 600px;
        transform: translateX(-110px);
        margin-top: 150px;
      }
    }
  }
}

.preregister-form {
  width: 200px;
  margin: 0 auto;
  @include desktopSmall {
    margin-left: 10%;
  }
  button {
    width: 150px;
    margin-top: 13px;
  }
}

.user-register-form {
  form {
    width: 230px;
    margin: 0 auto;
    @include desktopSmall {
      margin-left: 10%;
    }
    button {
      width: 120px;
      margin: 14px 0 50px;
    }
    .customRecaptha {
      transform: scale(0.9);
      margin-top: 14px;
    }
  }
}
