.footer {
  background: $color-dark-gray;
  color: white;
  padding: 30px 2%;
  @include desktopSmall {
    display: flex;
    justify-content: space-between;
    padding: 80px 3%;
  }
  h5 {
    color: #aabcc7;
    font-size: $font-size-large;
    margin-bottom: 4px;
    margin-top: 45px;
    @include desktopSmall {
      font-size: $font-size-xxlarge;
      margin-bottom: 12px;
      margin-top: 65px;
    }
  }

  a {
    display: block;
  }

  &-info {
    @include desktopSmall {
      width: 30%;
      border-right: 1px solid #939ba5;
    }
    .phone {
      font-weight: 900;
      background: url("/static/images/icons/phone.svg") no-repeat center left;
      background-size: 30px;
      padding: 15px 0 15px 40px;
    }

    .email {
      font-weight: 900;
      background: url("/static/images/icons/email.svg") no-repeat center left;
      background-size: 30px;
      padding: 15px 0 15px 40px;
    }

    .socials {
      display: flex;
      justify-content: flex-start;
      a {
        width: 55px;
        margin-top: 13px;
        margin-left: 10px;
        img {
          display: block;
          margin: 0 auto;
        }

        .facebook {
          width: 13px;
        }

        .instagram {
          width: 24px;
        }

        .twitter {
          width: 28px;
        }
      }

      a:first-child {
        margin-left: 0;
      }
    }
  }

  &-links {
    @include desktopSmall {
      width: 65%;
      display: flex;
      justify-content: space-around;
    }
    &-cell {
      a {
        padding: 3px 0;
        &:hover {
          text-decoration: underline;
        }
        @include desktopSmall {
          padding: 7px 0;
        }
      }
    }
  }
}
