.eventslider {
  &__frame {
    @include desktopSmall {
      display: flex;
      justify-content: space-between;

      .event-thumbnail {
        width: 31%;
      }
    }
  }
  h1 {
    padding-top: 45px;
    @include desktopSmall {
      padding-top: 110px;
    }
  }

  a.red-link {
    display: block;
    background-position: 230px 20px;
    @include desktopSmall {
      background-position: 280px 27px;
    }
  }
}
