.social {
  width: 100%;
  background: #e8e8e8;
  height: 50px;
  padding-top: 10px;
  &__frame {
    width: 140px;
    margin: 0 auto;
    position: relative;
    &:before {
      content: "Paylas";
      position: absolute;
      left: -50px;
      top: 7px;
      font-weight: 900;
    }
    &-item {
      cursor: pointer;
      transition: 0.2s;
      float: left;
      margin-left: 9px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
