.blog-slider {
  margin-top: 80px;
  @include desktopSmall {
    margin-top: 140px;
  }
  h1 {
  }

  &__cell {
    @include desktopSmall {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  a.red-link {
    display: block;
    background-position: 230px 20px;
    @include desktopSmall {
      background-position: 280px 27px;
    }
  }
}
