* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: $font-family-body;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  font-family: $font-family-body;
}

button {
  cursor: pointer;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
