// Font size as rem
@mixin fontSize($size) {
  font-size: calculateRem($size);
}

// Line height as rem
@mixin lineHeight($size) {
  line-height: calculateRem($size);
}

// background icon
@mixin backgroundIcon($imgPath, $size, $position) {
  $path: "/static/images/icons/" + $imgPath;
  background-image: url(#{$path});
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
}

@mixin limitWidthDektop() {
  @include desktopSmall {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin limitWidthMobile() {
  @media (max-width: 767px) {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}

// Rem Coverter
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// Break points
@mixin tablet {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin desktopSmall {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktopMedium {
  @media (min-width: 1310px) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: 1420px) {
    @content;
  }
}

@mixin desktopMega {
  @media (min-width: 1920px) {
    @content;
  }
}
