// Font size as rem
@mixin fontSize($size) {
  font-size: calculateRem($size);
}

// Line height as rem
@mixin lineHeight($size) {
  line-height: calculateRem($size);
}

//calender icon
@mixin calender() {
  padding: 5px 0 0 30px;
  background: url("/static/images/icons/calender.svg") no-repeat center left;
  background-size: 23px;
}

//author icon
@mixin author() {
  padding: 5px 0 0 30px;
  background: url("/static/images/icons/author.svg") no-repeat center left;
  background-size: 23px;
}

// Break points
@mixin tablet {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin desktopSmall {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktopMedium {
  @media (min-width: 1310px) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: 1420px) {
    @content;
  }
}

@mixin desktopMega {
  @media (min-width: 1920px) {
    @content;
  }
}
