.become-member-widget {
  background-color: #ededed;
  margin-top: 50px;
  padding: 25px 10px;
  @include desktopSmall {
    padding: 50px 3% 90px;
  }
  h1 {
  }

  form {
    background-color: $color-red;
    padding: 2%;
    color: white;
    @include desktopSmall {
      padding: 3%;
      display: flex;
      justify-content: space-between;
    }
  }

  &-flex-cell {
    @include desktopSmall {
      width: 36%;
    }
  }

  label {
    font-weight: 900;
    display: block;
    padding-top: 35px;
    @include desktopSmall {
      margin-bottom: 15px;
    }
  }

  textarea,
  input {
    text-indent: 5px;
    border: none;
    color: white;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    height: 55px;

    &:focus {
      background-color: $color-dark-gray;
    }
    &::placeholder {
      color: white;
    }
  }

  textarea {
    padding-top: 5px;
  }

  button {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    background: url("/static/images/icons/white-arrow.svg") no-repeat 90% center;
    padding: 12px 0;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 30px;
    &:hover {
      background-color: $color-dark-gray;
    }
    @include desktopSmall {
      width: 20%;
      margin-top: 77px;
    }
  }
}
